@model List<Airline_Reservation.Controllers.ClassBL>

<style>
    .card-img {
        height: 5rem;
        width: 5rem;
        margin:1rem auto;
    }
</style>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mt-2" style="height:auto;">
            <div class="card border mb-4">
                <img src="@Url.Content(item.Image)" style="" alt="" class="card-img">
                <div class="card-body text-center">
                   <h5 class="card-title" style="font-weight:700;">@item.AirlineName</h5>
                   <div class="text-center">
                       <label>@item.Class_Type Class</label><br />
                       <label style="color:darkblue;font-weight:500;">PKR @item.Fare.ToString("#,##,###")</label>
                   </div>
                </div>
            </div>
        </div>
        
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClassID }, new { @class = "btn-sm btn-primary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ClassID }, new { @class = "btn-sm btn-danger" })
            </td>*@
    }

</div>

