@model List<Bussiness_Logic_Layer.FlightsBL>

<style>
    h5,h6{
        color : darkblue;
        font-weight:600;
        display:inline;
    }
    .panel {
        border-radius: 0.5rem;
        box-shadow: 5px 5px 15px lightgrey;
    }

    .lblheading {
        font-weight: 500;
    }
    .PriceCard {
        box-shadow: 5px 5px 15px lightgrey;
        height:max-content;
    }
    .leftlbl{
        float:right;
        font-weight:500;
    }
</style>
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-8">

            <div>
                <div class="mt-3 ml-3">
                    <h5>Review Your Booking</h5>
                    <div style="display:inline-block;float:right;" class="mr-5">
                        <h6>   @Html.ActionLink("Flight Selection", "Index", "Booking", new { id = item.FlightNo }, new { style = "color:gray" })</h6>&nbsp; &gt; &nbsp;
                        <h6> @Html.ActionLink("Booking", "Index", "Booking", new { id = item.FlightNo }, new { style = "color:darkblue" })</h6>&nbsp; &gt; &nbsp;
                        <h6> @Html.ActionLink("Payment", "Index", "Booking", new { id = item.FlightNo }, new { style = "color:gray" })</h6>
                    </div>
                    <hr />
                </div>
                <div class="panel panel-default m-3 p-3">
                    <div class="m-1 p-1">
                        <h6>@item.Source</h6>&nbsp;-&nbsp;<h6>@item.Destination</h6>
                        <hr />

                    </div>
                    <div class="panel-body row">
                        <div class="col-md-12">
                            <img src="@Url.Content(@item.ImagePath)" style="height:70px; width:6rem;" />
                            <div class="ml-4" style="display:inline-block;">
                                <span>@item.AirlineName</span><br />
                                <span>@item.FlightName</span>
                            </div>
                            <hr />
                        </div>

                        <div class="col-md-12 row">
                            <div class="col-md-4">
                                <h6>@item.DepartureTime.ToString("HH : mm")</h6><br />
                                <span>@item.DepartureTime.ToString("ddd, dd MMM,yyyy")</span><br />
                                <span>@item.Source</span>
                            </div>
                            <div class="col-md-4 text-center pt-3">
                                <span>@item.TravelDuration hr</span>
                            </div>
                            <div class="col-md-4">
                                <h6 style="float:right">@item.ArrivalTime.ToString("HH : mm")</h6><br />
                                <span style="float:right;margin-right:-3rem;">@item.DepartureTime.ToString("ddd, dd MMM,yyyy")</span><br />
                                <span style="float:right">@item.Destination</span>
                            </div>
                        </div>
                    </div>
                </div>
                @*/*-----------------------------------------------*/*@
                <div class="mt-4 ml-3">
                    <h5>Traveller Details</h5>

                    <hr />
                </div>
                <div class="panel panel-default m-3 p-3">
                    <div class="m-1 p-1">
                        <h6>Passenger 1<span class="badge-secondary m-2" style="padding:3px; border-radius:3px;">Adult</span> Primary Contact </h6>
                        <hr />

                    </div>
                    <div class="panel-body row">
                        <div class="col-md-12">
                            <img src="@Url.Content(@item.ImagePath)" style="height:70px; width:6rem;" />
                            <div class="ml-4" style="display:inline-block;">
                                <span>@item.AirlineName</span><br />
                                <span>@item.FlightName</span>
                            </div>
                            <hr />
                        </div>

                        <div class="col-md-12 row">
                            <div class="col-md-4">
                                <h6>@item.DepartureTime.ToString("HH : mm")</h6><br />
                                <span>@item.DepartureTime.ToString("ddd, dd MMM,yyyy")</span><br />
                                <span>@item.Source</span>
                            </div>
                            <div class="col-md-4 text-center pt-3">
                                <span>@item.TravelDuration hr</span>
                            </div>
                            <div class="col-md-4">
                                <h6 style="float:right">@item.ArrivalTime.ToString("HH : mm")</h6><br />
                                <span style="float:right;margin-right:-3rem;">@item.DepartureTime.ToString("ddd, dd MMM,yyyy")</span><br />
                                <span style="float:right">@item.Destination</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mt-5 pt-4 PriceCard" >
            <h6>Book Now Before Tickets run out</h6><hr />
            <div style="margin-top:-15px;">
                <img src="@Url.Content(@item.ImagePath)" style="height:50px; width:4.5rem; display:inline-block; margin-top:-2.5rem;" />
                <div style="display:inline-block" class="p-3">
                    Flight<br />
                    <h6>@item.Source.Substring(0, 3).ToUpper()</h6>&nbsp;-&nbsp;
                    <h6>@item.Destination.Substring(0, 3).ToUpper()</h6><br />
                    One Way
                </div>
            </div>
            <hr />
            <div>
                <h6>Fare Sumary</h6>
                <div class="mt-2">Adult ( 1 traveler )</div>
                <div>
                    <label>Base Fare</label>
                    <label class="leftlbl">PKR 10,850</label>
                </div>
                <div>
                    <label>Tax</label>
                    <label class="leftlbl">PKR 2,450</label>
                </div>
                <hr />
                <div>
                    <label>Sub Total</label>
                    <label class="leftlbl">PKR 14,000</label>
                </div>
                <div>
                    <label>Hot Deals</label>
                    <label class="leftlbl" style="color:lightseagreen">&Theta; PKR 542</label>
                </div>
                <div>
                    <label>Convenience Charge</label>
                    <label class="leftlbl">+ PKR 283</label>
                </div>
                <div class="mt-4 p-3" style="background-color: #e8f0fa; margin: -1rem; " >
                    
                    <div>
                        <h6>You Pay </h6><label>( for 1 traveler )</label>
                        <h6><label class="leftlbl">PKR 13,741</label></h6>
                    </div>
                    <div>
                        <label style="color:lightseagreen">You Save</label>
                        <label class="leftlbl" style="color:lightseagreen">PKR 542</label>
                    </div>
                </div>
                
            </div>
        </div>
    }



    @*--------------------------------------------------*@

</div>



